
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #7f7c8f;}

input[type=text], input[type=phone] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: center;

}

button {
  background-color: rgb(133, 98, 99);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  justify-content: center;
}
marquee {
  position: absolute;
  white-space: nowrap;
  -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
  0%   {left: 0%;}
  50%  {left: 100%;}
  100% {left: 0%;}
  50% {right: 0%}
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  justify-content: center;
  border-radius: 50%;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}


span.phone {
  float: right;
  padding-top: 16px;
  width:200px;
}
.container{
justify-content: center;
width:200px;
flex-wrap:wrap;
margin: 8px 0 8px 8px;
align-content: center;
padding: 16px;
background-color: antiquewhite;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
margin: auto;
padding: 10px;
}


